@tailwind base;
@tailwind components;
@tailwind utilities;

{/*dont delete, I use to see the margins - adefela*/}

*{ 
    border: 1px solid red;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('./assets/Fonts/GeneralSans-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('./assets/Fonts/GeneralSans-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('./assets/Fonts/GeneralSans-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}